%h2 Code of Conduct & Anti-Harassment Policy

%p
  The Heart of Code (HoC) community is dedicated to providing a harassment-free experience for everyone, regardless of gender, gender identity and expression, sexual orientation, disability, physical appearance, body size, race, or religion. We do not tolerate harassment of participants in any form.

%p
  This code of conduct applies to all Heart of Code sponsored spaces, including our blog, mailing lists, and wiki, as well as any other spaces that Heart of Code hosts, both online and off. Anyone who violates this code of conduct may be sanctioned or expelled from these spaces at the discretion of the Heart of Code board.

  %h1 Base Assumptions

  %h3 General things to keep in mind

  %p
    We try to make the culture at Heart of Code more welcoming than the world at large. Here are some of the values and best practices you can expect other members to share, what isn't okay in the space no matter whether you are a member or not, and general guidelines. See also our #{link_to "anti-harassment policy", codeofconduct_path}.

  %h3 Values you can assume other members strive to uphold:
  %ul
    %li “Women” includes trans women, not all women have uteri/XX chromosomes/etc.
    %li LGBTQA-supportive (lesbian, gay, bisexual, trans, queer, asexual)
    %li The majority of gender-associated differences are socialized, not biological
    %li Feminism is good
    %li #{external_link_to "Meritocracy is a joke", "http://www.garann.com/dev/2012/you-keep-using-that-word/"}
    %li #{external_link_to "Intersectionality", "http://geekfeminism.wikia.com/wiki/Intersectionality"} is super important (credit: Kimberlé Crenshaw)
    %li Classism is not okay
    %li Prioritizing women and our needs is perfectly awesome and needs no excuse
    %li If you get called out on something, apologize and learn from it
    %li It’s okay to disagree, not okay to blame self or others
    %li Respect people’s gender pronouns

  %h3 Stuff that isn’t okay in this space:
  %ul
    %li Taking “reverse sexism” or “reverse racism” seriously
    %li Questioning the existence of privilege (white privilege, class privilege, etc)
    %li Using the phrase “politically correct” when you are not 100% obviously ironic
    %li Requests for feminism 101 education
    %li Playing devil’s advocate
    %li Asking someone to educate you about an aspect of their identity
    %li Telling people how to do feminism right
    %li Making statements that assume that everyone shares an experience of privilege (eg. has gone to college, can afford to eat out, can find employment easily, has a functional family)
    %li Touching people without explicit verbal consent
    %li Policing people’s bodies or what they choose to eat
    %li #{external_link_to "Taking away someone's keyboard", "http://tldp.org/HOWTO/Encourage-Women-Linux-HOWTO/x168.html"} instead of showing them how to do it
    %li Making fun of people for asking questions showing they lack technical knowledge
    %li Petting or interacting with anyone's on-duty service animal
    %li Making fun of people with penises, testicles, or XY chromosomes - some women have these

  %p
    #{external_link_to "CC BY-SA Heart of Code", "https://creativecommons.org/licenses/by-sa/4.0/"}


%p
  Some Heart of Code-sponsored spaces may have additional rules in place, which will be made clearly available to participants. Participants are responsible for knowing and abiding by these rules.

%h3 Definitions

%p
  Harassment includes:

%ul
  %li Offensive comments related to gender, gender identity and expression, sexual orientation, disability, mental illness, neuro(a)typicality, physical appearance, body size, race, or religion
  %li Unwelcome comments regarding a person’s lifestyle choices and practices, including those related to food, health, parenting, drugs, and employment.
  %li Deliberate misgendering or use of ‘dead’ or rejected names
  %li Gratuitous or off-topic sexual images or behaviour in spaces where they’re not appropriate
  %li Physical contact and simulated physical contact (eg, textual descriptions like “*hug*” or “*backrub*”) without consent or after a request to stop
  %li Threats of violence
  %li Incitement of violence towards any individual, including encouraging a person to commit suicide or to engage in self-harm
  %li Deliberate intimidation
  %li Stalking or following
  %li Harassing photography or recording, including logging online activity for harassment purposes
  %li Sustained disruption of discussion
  %li Unwelcome sexual attention
  %li Pattern of inappropriate social contact, such as requesting/assuming inappropriate levels of intimacy with others
  %li Continued one-on-one communication after requests to cease
  %li Deliberate “outing” of any aspect of a person’s identity without their consent except as necessary to protect other DU members or other vulnerable people from intentional abuse
  %li Publication of non-harassing private communication

%p
  The Heart of Code community prioritizes marginalized people’s safety over privileged people’s comfort. The Heart of Code board will not act on complaints regarding:

%ul
  %li "Reverse" -isms, including "reverse racism," "reverse sexism," and "cisphobia" (because these things don’t exist)
  %li Reasonable communication of boundaries, such as “leave me alone,” “go away,” or “I’m not discussing this with you.”
  %li Refusal to explain or debate social justice concepts
  %li Communicating in a “tone” you don’t find positive enough
  %li Criticizing racist, sexist, cissexist, or otherwise oppressive behavior or assumptions

%h3 Reporting

%p
  <strong>If you are being harassed by a member of the Heart of Code community, notice that someone else is being harassed, or have any other concerns, #{ link_to "please submit a report here", "HELLO_EMAIL" }.</strong> You may report harassment anonymously, or you can choose to include your contact information if you would like Heart of Code to follow up with you for further investigation or to communicate actions that have been taken.

%p
  Reports will be handled by Heart of Code’s board of directors. If the person who is harassing you is on the board, they will recuse themselves from handling your incident. In this situation, you may also reach out to an individual board member instead of submitting a report on the form, or have a friend submit your report. Otherwise, please do not reach out to private email addresses or social media accounts for reporting harassment.

%p
  We will respond within 3 weeks of your report, and sooner if at all possible. We reserve the right to reject any report we believe to have been made in bad faith.

%h3 Jurisdiction

%p
  This code of conduct applies to Heart of Code sponsored spaces, but if you are being harassed by a member of the DU community outside our spaces, we still want to know about it. We will take all good-faith reports of harassment by Heart of Code community members seriously. This includes harassment outside our spaces and harassment that took place at any point in time. The board reserves the right to exclude people from the DU community based on their past behavior, including behavior outside DU spaces and behavior towards people who are not in the DU community.

%h3 Confidentiality

%p
  We will respect confidentiality requests for the purpose of protecting victims of abuse. At our discretion, we may publicly name a person about whom we’ve received harassment complaints, or privately warn third parties about them, if we believe that doing so will increase the safety of DU members or the general public. We will not name harassment victims without their affirmative consent.

%h3 Consequences

%p
  Participants asked to stop any harassing behavior are expected to comply immediately.

%p
  If a participant engages in harassing behavior, Heart of Code may take any action they deem appropriate, including expulsion from all Heart of Code spaces and identification of the participant as a harasser to other DU members or the general public.
