.jumbotron
  .container
    .jumbotron-content
      %h3
        Heart of Code e.V.<br> Liberté - Digitalité - Sœurité

      %p
        ”The Heart of Code's Improbability Drive made it the most powerful and
        unpredictable ship in existence. There was nothing it couldn't do,
        provided you knew exactly how improbable it was that the thing you
        wanted it to do would ever happen.”

.container
  %h3
    Die Heart of Code:<br> ein Hackspace für Frauensternchen!
  %p
    Die Heart of Code richtet sich an alle PyLadies, und RailsGirls, JavaLassies und 3D-Feen, Gamerinnen, Arduinas, NetzwerkNixen, LötGören, RaspberryRabaukinnen und alle anderen Frauensternchen mit Interesse an Bits, Bytes und Basteln. Sie ist ein Ort zum gemeinsamen Frickeln, kreativ werden und Abnerden - für mehr Vernetzung, mehr Gemeinschaft, und vor allem natürlich: mehr Hacken.

  %p
    Wir wollen Frauen (also alle Menschen, die sich als female identifizieren) den Zugang zu Informationstechnologien, Tools und Inhalten erleichtern, und damit die Hacking-Community und Tech-Landschaft langfristig diverser gestalten.</p>

  %p
    Der allwöchentliche Damensalon am Donnerstag Abend findet im wunderschnöden #{link_to "xHain", visit_path} statt.

  %p
    You can find out about upcoming events (and learn more about us) on #{link_to 'our blog', KALENDER_URL},
    following us on Twitter at #{external_link_to "@#{TWITTER_USERNAME}", TWITTER_URL}, https://twitter.com/heartofcode}, or joining our #{link_to "slack", SLACK}.

  %h3 Membership
  - if @accepting_applications
    %p
      Heart of Code is accepting new members! Members join through an application and voting process. If you're interested in being part of Heart of Code, please apply.
  - else
    %p
      Members join through an application and voting process. If you're interested in being part of Heart of Code, please write us some lines via #{link_to 'email', HELLO_EMAIL}, #{external_link_to "Twitter", TWITTER_URL}.

  %p
    Check out our #{ link_to "membership page", membership_path } to learn more.

  %h3 Want to Support Heart of Code?
  %p
    Heart of Code is a non-profit supported entirely by donations, membership
    dues, and volunteers.

  %p
    We would love your support for maintaining our women-friendly hackspace in Berlin! We hope to serve as a role model and resource for other
    makerspaces and hackerspaces around the world.

  = render "donate"
