%h2 Press

%p
  If you want to learn more about the Heart of Code, say hello at
  = "#{mail_to HELLO_EMAIL, HELLO_EMAIL}.".html_safe

%h3 Heart of Code stellt sich vor

.press
  #{link_to "Heart of Code. A place for all the kickass tech ladies", "http://episodes.bitsofberlin.org/8-heart-of-code"}
  .attribution
    Bits of Berlin

.press
  #{link_to "Heart of Code - Ein neuer Hackspace für Frauensternchen | 53. Netzpolitischer Abend #npa053", "https://www.youtube.com/watch?v=xFI1fokkkGQ"}
  .attribution
    Netzpolitischer Abend des Digitale Gesellschaft e.V.

.press
  #{link_to "Meetup der Heart of Code - Hackspace für Frauensternchen", "https://re-publica.com/en/16/session/meetup-heart-code-hackspace-frauensternchen"}
  .attribution
    Re:publica 2016
